<div id="wrapper">
    <div id="menu">
        <p class="welcome">Welcome, <b></b></p>
        <p class="logout"><a id="exit" href="#">Exit Chat</a></p>
        <div style="clear:both"></div>
    </div>
     
    <div id="chatbox" >
      <div *ngFor="let chatMessage of messages">
        <div id="question" class="questionCls"  *ngIf="chatMessage.sentBy =='User'">
          {{chatMessage.message}}
      </div>
      <div id="answer" class="answerCls" *ngIf="chatMessage.sentBy !=='User'">
        {{chatMessage.message}}
      </div>
      </div>
    </div>
     
    <div  class="inputContainer">
        <input type="text" id="usermsg" size="63" [(ngModel)]="lastMessage">        
        <input name="submitmsg" type="button" id="submitmsg" value="Send" (click)="onSubmit($event)" />
    </div>
</div>
